*{
	box-sizing: border-box;
}
body{
	background: #f6f5f1;
}
#tpage{
	width: 1000px;
	margin: 0px auto;

	min-height: 500px;
	background-color: #fff; 
}



#page{
	width: 1000px;
	margin: 0px auto;

}

nav#nav-nav{
	background-color: yellow;

}

#body-page{
	background-color: #fff;
	min-height: 500px;
}

section#lef-page{
	width: 750px;
	padding: 10px; 
	float: left;
	
}

aside{
	width: 250px;
	padding: 10px; 
	float: right;
	
}

.clr{clear: both; }
footer#footer-page{
	min-height: 100px;
	background-color: #252525;
}

.block{
	width: 100%;

}
.block header{
	border-top: 2px;
}